﻿@page "/breeds"
@using CATApi.Model
@inject Services.CatApiService CatApiService

<PageTitle>Races</PageTitle>

<title>Races de chats</title>
<body>
<header>
    <h1>Races de chats</h1>
</header>
<div class="container">
    <select @onchange="args => OnBreedChange(args.Value.ToString())" id="breedSelect">
        <option disabled selected></option>
        @foreach (var breed in _breeds)
        {
            <option value="@breed.Id">@breed.Name</option>
        }
    </select>
    <div class="container-item">
        <button @onclick="@OnPrevious" id="previousButton">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <img src="@(_cats.Count > 0 ? _cats[_index].Url : string.Empty)" alt="" width="500"/>
        <button @onclick="OnNext" id="nextButton">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        <h5>@_selectedBreed.Origin</h5>
        <p>@_selectedBreed.Description</p>
    </div>
</div>
</body>


@code {
    List<Model.Breed> _breeds = new();
    List<Cat> _cats = new();
    Model.Breed _selectedBreed = new();
    int _index;

    protected override async Task OnInitializedAsync()
    {
        await FillBreeds();
    }

    private async Task FillBreeds()
    {
        _breeds = await CatApiService.GetBreedsAsync();
    }

    private async Task OnBreedChange(string breedId)
    {
        _cats = await CatApiService.GetCatsAsync(breedId);
        _selectedBreed = _breeds.FirstOrDefault(b => b.Id == breedId) ?? _selectedBreed;
    }

    private void OnNext()
    {
        if (_index < _cats.Count - 1)
            _index++;
        else
            _index = 0;
    }

    private void OnPrevious()
    {
        if (_index > 0)
            _index--;
        else
            _index = _cats.Count - 1;
    }

}