.favorite-list {
    list-style: none;
    padding: 0;
}

.favorite-group {
    margin-bottom: 20px;
}

.favorite-group h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.favorite-items{
    display: flex;
    flex-direction: row;
}

.favorite-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.favorite-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.favorite-item i {
    margin-top: 10px; /* Espacement entre l'image et l'icône */
    font-size: 24px; /* Taille de l'icône */
    color: #333; /* Couleur de l'icône */
    transition: color 0.3s; /* Transition de couleur au survol */
}

.favorite-item i:hover {
    color: #ff5733; /* Couleur différente au survol */
    cursor: pointer;
}


p {
    font-size: 18px;
    color: #666;
}