﻿@page "/favorite"
@using CATApi.Model
@inject Services.FavoriteService FavoriteService

<PageTitle>Favoris</PageTitle>

<h1>Favoris</h1>

@if (_favorites.Count == 0)
{
    <p>Vous n'avez pas de favoris</p>
}
else
{
    <ul class="favorite-list">
        @foreach (var favoriteGroup in _favoritesByBreed)
        {
            <li class="favorite-group">
                <h2>@favoriteGroup.First().Breed</h2>
                <ul class="favorite-items">
                    @foreach (var item in favoriteGroup)
                    {
                        <li class="favorite-item">
                            <img src="@item.Url" alt="@item.Breed" />
                            <i @onclick="() => RemoveFavoriteAsync(item)" class="fa-solid fa-trash"></i>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}

@code {
    List<Favorite> _favorites = new();
    List<List<Favorite>> _favoritesByBreed = new();

    protected override async Task OnInitializedAsync()
    {
        _favorites = GetFavorites();
        FilterByBreed();
    }

    private List<Favorite> GetFavorites() 
        => FavoriteService.GetFavorites();
    
    private async Task RemoveFavoriteAsync(Favorite favorite)
    {
        _favorites.Remove(favorite);
        FilterByBreed();
        await FavoriteService.RemoveFavoriteByIdAsync(favorite.Id);
        
    }

    private void FilterByBreed()
    {
        _favoritesByBreed.Clear();
        var distinctBreeds = _favorites
            .Select(f => f.Breed)
            .Distinct()
            .ToList();

        foreach (var breed in distinctBreeds)
        {
            var favorites = _favorites
                .Where(f => f.Breed == breed)
                .ToList();

            _favoritesByBreed.Add(favorites);
        }
    }
}
