body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.like-button, .dislike-button, .favorite-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.like-button:hover, .dislike-button:hover, .favorite-button:hover {
    transform: scale(1.25);
}

.like-button {
    background-color: #2a47fc;
    color: #fff;
}

.dislike-button {
    background-color: #da0101;
    color: #fff;
}

.favorite-button {
    background-color: #ffd400;
    color: #fff;
}