﻿@page "/"
@using CATApi.Model
@inject Services.CatApiService CatApiService
@inject Services.FavoriteService FavoriteService

<PageTitle>Accueil</PageTitle>

<h1>Accueil</h1>

<div class="content">

    <img class="center" src="@_cat.Url" alt=""/>

    <div class="buttons">
        <button @onclick="NewCat" class="like-button">
            <i class="fa-regular fa-thumbs-up"></i>
        </button>
        <button @onclick="NewCat" class="dislike-button">
            <i class="fa-regular fa-thumbs-down"></i>
        </button>
        <button @onclick="OnFavoriteClick" class="favorite-button">
            <i class="@_favoriteClass fa-star"></i>
        </button>
    </div>
</div>

@code {
    Cat _cat = new();
    string _favoriteClass = "fa-regular";

    protected override async Task OnInitializedAsync()
    {
        await NewCat();
    }

    private async Task NewCat()
    {
        _favoriteClass = "fa-regular";
        _cat = await CatApiService.GetCatAsync();
    }
    
    private async Task OnFavoriteClick()
    {
        if (_favoriteClass == "fa-regular")
            await AddFavorite();
        else
            await RemoveFavorite();
    }

    private async Task AddFavorite()
    {
        _favoriteClass = "fa-solid";
        
        var favorite = new Favorite
        {
            Url = _cat.Url,
            Breed = _cat.Breeds.FirstOrDefault()?.Name
        };
        
        await FavoriteService.AddFavoriteAsync(favorite);
    }

    private async Task RemoveFavorite()
    {
        _favoriteClass = "fa-regular";
        await FavoriteService.RemoveFavoriteByUrlAsync(_cat.Url);
    }
}